/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/********************** For game info ********************/
.gameInfo{ 
    display: flex;    
    justify-content:flex-start;
    flex-wrap: wrap;    
}
.gameInfo mat-card{
    height: 50px;
    min-width: 300px;
    font-size: large;
    margin: 15px;
    padding: 5px;
    display: flex;    
    justify-content:flex-start;
    flex-wrap: wrap; 
    padding: 10px;  
    background-color: hsl(208, 100%, 97%);
}

/********************** For game field ********************/
.allGameField{
    min-width: 400px;
    min-height: 600px;
    max-width: 1200px;
    max-height: 1000px;
    padding: 30px;
    margin: 80px;  
    margin-top: 40px;     
}
.allGameField mat-card{
    margin-bottom: 10px;
}
.allGameField mat-card img{
    max-width: 450px;    
    margin-left: 30%;
}
.gameField{
    min-height: 400px;
}
.keyboard{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   max-width: 1000;
   padding: 10px;
}
.keyboard mat-button{
    /*Dimensions*/    
    margin: 10px;
    margin-left: 20px;
    border-radius: 5px;
    min-width: 65px;
    min-height: 30px;
    /*Appearance*/
    text-align: center;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: silver;
    cursor: pointer;
    padding-top: 15px;
    
}
.lettersContainer{
    padding: 15px;
    display: flex;
    min-height: 30px;
    
}
.lettersContainer mat-card{
    width: 20px;
    height: 30px;
    padding: 10px;
    
    margin-left: 35px;
    background-color: rgb(188, 243, 217);
    font-size: large;
    border-radius: 5px;
    cursor: default;
    

}
/********************** For nav field ********************/
.navGame {
    width:250px; 
    text-align: start; 
    padding:10px;        
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    
}
.navGame img{
    height: 80px;
    border-radius: 50%;
}

/********************** Pop up  ********************/
.popup-container{
    /*Dimensions*/
    position: fixed;
    top: 30%;           /*for position in the center of the screen*/
    left: 40%;
    width: 400px;
    max-width: 80%;
    padding: 20px;    
    z-index: 1000;
    border-radius: 5px;
    /*Appearance*/
    background-color:silver;
    border-width: 5x;
    border-color: gray;

}
.popup-container mat-card{
    /*Dimensions*/ 
    padding: 10px;
    max-width: 400px;
    min-height: 40px;  
    
    /*Appearance*/
    background-color: silver;
    border-width: 1px;
    border-color: gray;
}
.popup-container input{
    width: 250px;
    min-height: 30px;
}
.playersNames{
    display: flex;
}
.playersNames div{
    margin-left: 10px;
}
.playersNames img{ 
    width: 20px;
    height: 20px;
    margin: 5px;
    
}
@media screen and (max-width: 600px) {
    .navGame {
      width: 60px; /* Ancho contraído para dispositivos móviles */
    }
  }