<main id="main" >
    
    <mat-card class="allGameField">
        <div class="popup-container" id="popup">
            <h1>¡A ver! díganme sus nombres</h1>
            <mat-card >
                <div class="playersNames">
                    <div>
                        <img src="../../assets/player-ico.png" alt="">
                    </div>
                    <div>
                        <input type="text" placeholder="Puedes ser el primero" [(ngModel)]="input1">
                    </div>
                    
                </div>                
            </mat-card>
            <mat-card >  
                <div class="playersNames">
                    <div>
                        <img src="../../assets/player-ico.png" alt="">
                    </div>  
                    <div>
                        <input type="text" placeholder="O quizá este, no lo sé" [(ngModel)]="input2">                                
                    </div>                                      
                </div>              
            </mat-card>
            
            <button [disabled]="!((input1 && input2) && (input1!==input2))" id="starGameButton">Listo</button>

        </div>
        <mat-card class="card" style="background-color:silver; ">
            <div class="gameInfo" id="gameInfoContainer">                                   
                <mat-card >
                    <strong >Player - 1</strong>                    
                    <strong>{{player1}} </strong>                                     
                </mat-card>                
                <mat-card >
                    <strong >Player - 2</strong>
                    <strong> {{player2}} </strong>
                </mat-card>         
                <mat-card *ngIf="actualPlayer" style="background-color: rgb(148, 177, 144);" >
                    <strong > Round {{round}}</strong>                                       
                    <strong > Turno de: {{actualPlayer}}</strong>                                       
                </mat-card>       
            </div>
            
        </mat-card>
        <mat-card class="gameField">
            <div id="hangedField">                
            </div>
        </mat-card>
        
        <mat-card class="card">
            <div class="lettersContainer" id="lettersContainer">
                
            </div>
        </mat-card>
        <mat-card class="card">
            <div class="keyboard" id="keyboard">
 
            </div>            
        </mat-card>
    </mat-card>
</main>