<main>
    <mat-card class="allGameField">
        <mat-card class="card" style="background-color:silver; ">
            <div>
                <h1>scores and info </h1>
            </div>
            
        </mat-card>
        <mat-card class="gameField">
            <div>
                <h1>all game structure </h1>
            </div>
        </mat-card>
        
        <mat-card class="card">
            <div>
                <h1>letters</h1>
            </div>
        </mat-card>
        <mat-card class="card">
            <div class="keyboard" id="keyboard">
 
            </div>            
        </mat-card>
    </mat-card>
</main>