<mat-sidenav-container >
  <mat-sidenav mode="side" opened="true" [mode]="sidenavMode" style="background-color: silver;" class="navGame" >      
    <!-- Contenido de la barra lateral -->
    <mat-nav-list id="navGame">
      <div style="padding: 10px;">
        <img mat-card src="../assets/ico.png" style="width: 100%; height: auto; float: inline-start;"> 
      </div>
      <br>
      <div>
        <br>
        <button mat-list-item id="game">Iniciar una partida</button>
      </div>
      <br>
      <div>
        <button mat-list-item id="results">Historial de resultados   </button>  
      </div>
      
      
      
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content style=" background-image: url(../assets/background.png)" >
    <!-- Contenido principal  -->
    <div *ngIf="showResults">
      <app-results></app-results>
    </div>
    <div *ngIf ="initiateGame">
      <app-game></app-game>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

